<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todoapp</title>
</head>
<body>
    <h1>Todo App!</h1>
    <hr>
    <ul>
        {% for todo in todos %}
            <li>
                {{ todo.title }}
            </li>
        {% endfor %}
    </ul>
    <hr>
    <form action="." method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input id="title" type="text" name="title">
        <br>
        <input type="submit" value="Submit"> 
    </form>
</body>
</html>